<!DOCTYPE html>
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <div>
        <h1>Random password generator...</h1>
        <br />
      </div>
      <label for="entertext">Enter text</label>
      <div class="form-group">
        <input type="text" class="form-control-sm" (input)="onChangeLength($event.target.value)" id="entertext"/>
      </div>

      <!-- <div class="field">
        <div class="control">
          <label>Use letters</label>
          <input (change)="onChangeUseLetters()" type="checkbox" />
        </div>
      </div> -->

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-append">
            <span><input type="checkbox" (change)="onChangeUseLetters()" id="letters"></span>
            <span><label for="letters">Use letters</label></span>
          </div>
        </div>
      </div>

      <!-- <div>
        <label>Use numbers</label>
        <input (change)="onChangeUseNumbers()" type="checkbox" />
      </div> -->

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-append">
            <span><input type="checkbox" (change)="onChangeUseNumbers()" id="numbers"></span>
            <span><label for="numbers">Use Numbers</label></span>
          </div>
        </div>
      </div>

      <!-- <div>
        <label>Use symbols</label>
        <input (change)="onChangeUseSymbols()" type="checkbox" />
      </div> -->

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-append">
            <span><input type="checkbox" (change)="onChangeUseSymbols()" id="symbols"></span>
            <span><label for="symbols">Use Symbols</label></span>
          </div>
        </div>
      </div>

      <div>
        <button class="btn btn-outline-primary" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols ))"
          (click)="onButtonClick()">Generate!</button>
      </div>

      <div *ngIf="password">
        <label>Your password</label>
        <input [value]="password" />
      </div>
      <!-- {{ getName() }} -->
    </div>
  </div>
</div>